* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    font-family: Roboto sans-serif;
    background: #EFEFEF;
}
 ul {
     list-style: none;
 }

.ul_major {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    padding: 17px 0 17px;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0 15px;
    background: #FFFFFF;
}

.logo {
    margin-left: 200px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: #F13C6E;
    text-transform: uppercase;
    margin-left: 20px;
}

.number {
    font-size: 16px;
    margin-left: 600px;
}

.button {
    margin-left: 40px;
    font-size: 14px;
    padding: 10px 55px;
    border: 2px solid #F13C6E;
    border-radius: 30px;
    color: black;
    transition: 0.5s;
}
.button:hover {
    background-color: #F13C6E;
}

.button-1 {
    color: black;
}

a {
    text-decoration: none;
}

hr {
    margin: 0 auto;
}

.nav_minor {
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 40px;
    padding: 15px 0 20px;
    background: #FFFFFF;
}

.background{
    background-image: url("assets/Rectangle 2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
}



.object {
    margin: 250px 0 150px 350px;
    color: white;
    max-width: 15%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

.description {
    font-size: 14px;
    padding-bottom: 35px;
}

.button-2 {
    font-size: 14px;
    border: 2px solid #FFFFFF;
    padding: 10px 0 10px;
    max-width: 150px;
    border-radius: 30px;
    text-align: center;
    transition: 0.5s;
}

.btn-2 {
    color: #FFFFFF;
}

.button-2:hover {
    background-color: purple;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    padding: 40px 0 20px 350px;

}

.items {
    display: flex;
   justify-content: center;
    gap: 30px;
}

.item {
    background: #FFFFFF;
    padding: 15px 20px 15px;
    text-align: center;
}

.description {
    font-size: 14px;
    padding: 15px 0 10px;
}

.price {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 15px;
}

.buy-button {
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 45px;
    background: #F13C6E;
    border-radius: 30px;
    transition: 0.5s;
}

.buy-button:hover {
    background: purple;
}
.connection {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 60px;
}

.wrapper-1 {
    display: flex;
    max-width: 28%;
    background: #F13C6E;
    gap: 30px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 14px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

.Bonuses {
    padding-bottom: 20px;
}

.email {
    font-size: 14px;
    color: #C4C4C4;

}

.wrapper-2 {
    display: flex;
    gap: 30px;
    background: #F13C6E;
    max-width: 28%;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 14px;
}

.item-2 {
    max-width: 50%;
}

.item2-description {
    padding-bottom: 20px;
}

.Store-map {
    font-size: 14px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 8px 40px;
    transition: 0.5s;
}

.Store-map:hover {
    background: purple;
}











